form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button{
    font-size: 1.1em;
    width: 30%;
    height: 80%;
}
input{
    width: 70%;
    height: 80%;
    font-size: 1.2em;
}
::placeholder{
    color: darkslategray;
}